<style>
    .about {

        padding: 10rem;
        padding-top: 5rem;

        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    h1 {
        font-size: 3rem;

    }
</style>

<div class="container-fluid about">

    <div class="row">
        <div class="col-lg-6">
            <h1>Welcome To Fake Image Detection</h1>
            <p>we are dedicated to providing state-of-the-art
                solutions for detecting fake or manipulated images.
                With the rise of digital
                manipulation tools and the spread of misinformation, it has become crucial to
                develop reliable methods to discern between authentic and altered visual content
                Our mission is to empower individuals and organizations with tools to identify
                manipulated images, thereby fostering trust and integrity in digital media. Through a
                combination of advanced techniques such as error level analysis, gradient analysis,
                and metadata analysis, we aim to offer a comprehensive solution for detecting image tampering
                <br><br>
                Our Approach<br>
            <h3>Error Level Analysis:</h3> By analyzing the error levels present in an image, we can identify regions
            that have undergone compression or modification, providing insights into potential areas of manipulation.
            <h3>Gradient Analysis:</h3> We leverage gradient analysis techniques to detect inconsistencies in gradients
            across different regions of an image, which can indicate the presence of digital alterations.
            <h3>Metadata Analysis:</h3> Examining the metadata associated with an image allows us to uncover clues about
            its origin, editing history, and authenticity, aiding in the detection of manipulated content.
            </p>
        </div>
    </div>
</div>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i
 